body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #9A67EA; /* Match the background color */
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
